@font-face {
  font-family: 'nasalization';
  font-style: bold;
  src: url('./assets/fonts/nasalization-rg.ttf'); 
  font-family:'montserrat medium';
  src: url('./assets/fonts/Montserrat-Medium.ttf');
  font-family: 'montserrat bold';
  src: url('./assets/fonts//Montserrat-Bold.ttf');
}

